.common_logo_header-header {
    margin: 4vh 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.common_logo_header-header--img {
    pointer-events: none;
}

.common_logo_header-header--h1 {
    cursor: default;
    margin-bottom: 20px;
}

.common_logo_header-header--h2 {
    cursor: default;
}

@media (min-height: 640px) {
    .common_logo_header-header {
        margin-top: 8vh;
    }
}

@media (min-height: 860px) {
    .common_logo_header-header {
        margin-top: 12vh;
    }
}